.titles{
    font-family: ºÚÌå;

    font-size: 40px;
    font-weight: 800;
    color: aliceblue;
    line-height: 40px;


}
.in{
    border: thin inset;
    height: 40px;
    font-weight: 300;
    font-size: 25px;
    background-color:transparent;
    width: 300px;
    color: gray;
}

#loginForm{
    position: absolute;
    top: 280px;
    left: 400px;
}
button{
    color: white;
    border: white;
    background-color: darkgrey;
    height: 45px;
    width: 150px;
    font-size: 25px;
    font-family: ºÚÌå;
    position: relative;
    left: 90px;
}